.blackout {
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 100;
}

.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addform {
  height: 700px;
}

.listingForm {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: fixed;
  width: 400px;
  background-color: rgb(69, 69, 69);
  z-index: 100;
  align-self: center;
  top: 100px;
  animation: createBox 0.25s;
  overflow: scroll;
}

.listingForm label {
  margin: 5px 3px 0px 3px;
  font-family: fantasy;
  font-weight: bolder;
}

.listingForm input {
  box-sizing: border-box;
  color: whitesmoke;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(109, 108, 108);
  margin-bottom: 5px;
  font-family: fantasy;
  font-weight: bolder;
}

.listingForm input::placeholder {
  color: rgb(189, 189, 189);
}

.form1 h2 {
  text-align: center;
  margin: 20px 20px 0px 20px;
  font-family: fantasy;
  font-weight: bolder;
}

.listingForm > div {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listingButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  background-color: rgb(69, 69, 69);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.listingButton button {
  margin: 15px;
  padding: 10px;
}

.listingButton p {
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  width: fit-content;
  margin: 0px;
}

.listingButton .cancel {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  margin-left: 20px;
  font-family: fantasy;
  font-weight: bolder;
}

.listingButton .submit {
  background-color: rgb(34, 70, 34);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-family: fantasy;
  font-weight: bolder;
}

.listingButton .submit:hover {
  cursor: pointer;
}

.listingButton .submit:disabled {
  cursor: auto;
  color: rgb(122, 122, 121);
}

.form1 {
  width: 92%;
  padding: 15px;
}

.fade {
  transition: opacity 1.5s linear;
}

@keyframes createBox {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.err-modal {
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  font-size: 12px;
  color: rgb(196, 98, 98);
}
