.review-hr {
    margin: 25px 15px 5px 15px;
}

.reviews-header {
    font-family: fantasy;
    font-weight: bolder;
    color: rgb(69, 69, 69);
    margin: 0px;
    padding-bottom: 15px;
    text-align: center;
}

.review-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 120px);
    grid-row-gap: 4em;
    grid-column-gap: 2em;
}

.review-data {
    height: 120px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: thick double #32a1ce;
    overflow: scroll;
}

.review-data p {
    font-family: fantasy;
    font-weight: bolder;
    color: rgb(69, 69, 69);
    margin: 0px;
}

.each-review-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rating-div {
    display: flex;
    padding-right: 15px;
}

.earendil {
    height: 20px;
    width: 20px;
    padding: 0px 3px;
}

.review-content {
    padding-bottom: 25px;
}

.edit-review-button {
    margin: 0px 250px 0px 0px;
    border-radius: 10px;
    color: rgb(34, 70, 34);
    background-color: rgb(226, 226, 226);
}

.edit-review-button:hover {
    background-color: rgb(122, 122, 121);
}

.comment-form-box {
    margin: 25px;
    padding-top: 30px;
}


